*.log
.settings/
.pydevproject
.project
.externalToolBuilders/
.temp
*.pyc
*~
*.swp
debug.log
netconf.log
protocol.log
myenv
mypython
mypython3
py2env
py3env
v/
gittmp*/
.DS_Store

*.sublime-project
*.sublime-workspace
